<h1>Helpjuice Search Analytics</h1>
<p>
  Welcome to the search analytics app. This app will help you find out what your users are searching for on your Helpjuice knowledge base.
</p>
<%= form_with model: Analytic.new, id: 'search-form' do |f| %>
  <%= f.text_field :search, id: 'search-text' %>
  <%= f.submit "Search" %>
<% end %>

<%= javascript_pack_tag 'user_search', 'data-turbolinks-track': 'reload' %>